@charset "windows-1252";

@import url('../font-awesome-4.6.3/css/font-awesome.css');

@font-face {
    font-family: RobotoMedium;
    src: url("../fontRoboto/Roboto-Medium.ttf")format("truetype");
}

@font-face {
    font-family: RobotoLight;
    src: url("../fontRoboto/Roboto-Light.ttf")format("truetype");
}

@font-face {
    font-family: RobotoRegular;
    src: url("../fontRoboto/Roboto-Regular.ttf")format("truetype");
}

@font-face {
    font-family: RobotoThin;
    src: url("../fontRoboto/Roboto-Thin.ttf")format("truetype");
}

/*
@font-face {
    font-family: RobotoLight;
    src: url('../fontRoboto/Roboto-Light.ttf?v=1.100141')format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: RobotoMedium;
    src: url('../fontRoboto/Roboto-Medium.ttf?v=1.100141')format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
.amx-panelPage-header {
    border-bottom-color: #86BC25;
    background-color: #000000;
    border-bottom-width: medium;
    border-bottom-style: solid;
}

.amx-panelPage-header .amx-outputText {
    color: #86BC25;
    font-size: x-large;
    font-family: RobotoMedium;
}

.headertextwhite {
    color: #ffffff !important;
    font-size: x-large;
    font-family: RobotoLight;
}

.promptlightSmall {
    font-family: RobotoLight;
    font-size: small;
}

.resulttext {
    width: auto;
    color: grey;
    font-size: 5px;
    font-family: RobotoLight;
    font-weight: bold;
}

.xxRobotoMedium14 {
    font-family: RobotoMedium;
    font-size: 14px;
}

.xxRobotoLight14 {
    font-family: RobotoLight;
    font-size: 14px;
}

.xxRobotoHeaderBlueText {
    font-family: RobotoMedium;
    color: #1C75BC;
    font-size: large;
    text-align: center;
}

.xxRobotoSubHeader {
    font-family: RobotoMedium;
    font-size: large;
    color: #ffffff;
}

.xxRobotoFieldTitle {
    font-family: RobotoMedium !important;
    font-size: small !important;
    color: #999999 !important;
}

.xxRobotoGroupHeader {
    font-family: RobotoMedium !important;
    font-size: x-large !important;
    color: #000000 !important;
    text-wrap: normal !important;
    overflow: visible !important;
    white-space: pre !important;
    /* CSS 2.0 */

    white-space: pre-wrap !important;
    /* CSS 2.1 */

    word-wrap: break-word !important;
}

.xxRobotoFieldValue {
    font-family: RobotoRegular !important;
    font-size: large !important;
    color: #000000 !important;
    text-wrap: normal !important;
    overflow: visible !important;
    white-space: pre !important;
    /* CSS 2.0 */

    white-space: pre-wrap !important;
    /* CSS 2.1 */

    word-wrap: break-word !important;
    /* IE 5.5-7 */
}

.xxRobotoMediumL {
    font-family: RobotoMedium;
    font-size: large;
    vertical-align: middle;
}

.xxRobotoMediumM {
    font-family: RobotoMedium;
    font-weight: bold;
    font-size: medium;
}

.xxRobotoLightM {
    font-family: RobotoLight;
    font-size: medium;
    vertical-align: middle;
}

.xxRobotoLightMBold {
    font-family: RobotoLight;
    font-size: medium;
    font-weight: bold;
    vertical-align: middle;
}

.ordAppStretchLyt .amx-panelStretchLayout_center {
    overflow: auto;
}
/* Android Title bar styling end */
/* Android Submit button styling */
.amx-commandButton {
    border: 0;
    background: #86BC25;
    width: 250px;
    background-image: none;
    font-family: RobotoMedium;
    color: #ffffff;
    height: 30px;
    min-height: 21px;
    font-size: larger;
    text-align: center;
    font-stretch: expanded;
}

html[dir=ltr] .amx-selectOneChoice .selectItemsContainer {
    border-width: 2px;
    border-radius: 1px;
    border-style: solid;
    -webkit-border-image: none;
    border-image: none;
    position: static;
    height: 30px;
    background-image: url("../images/DownArrow.png");
    background-repeat: no-repeat;
    background-position: 98%;
    font-family: RobotoMedium;
    background-color: White;
    vertical-align: middle;
    position: relative;
}

html[dir="ltr"] .amx-inputDate-trigger-dateTime {
    border-width: 1px;
    border: rgb(169, 169, 169);
    border-radius: 1px;
    border-style: solid;
    -webkit-border-image: none;
    border-image: none;
    position: static;
    height: 30px;
    background-image: url("../images/Date.png");
    background-repeat: no-repeat;
    background-position: 98%;
    background-color: White;
}

html[dir="ltr"] .amx-inputDate-text {
    padding-left: 6px;
    padding-right: 20px;
    padding-top: 4px;
    position: relative;
    font-family: RobotoMedium;
}

.amx-listItem.sprigboardListItem {
    padding: 0px !important;
    border: 0px;
    height: 35px !important;
    min-height: 0px !important;
}

.sprigboardListItem.amx-listItem.amx-listItem-selected, .sprigboardListItem.amx-listItem:active {
    background-color: transparent;
    border: 0px;
    margin: 0px;
}

.reportListItem.amx-listItem.amx-listItem-selected, .reportListItem.amx-listItem:active {
    background-color: #1C75BC;
}

html[dir=ltr] .amx-inputText-content {
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border: rgb(169, 169, 169) !important;
    -webkit-border-image: none;
    border-image: none;
    position: static;
    vertical-align: middle;
}

html[dir=ltr] .amx-inputText.amx-simple {
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    font-family: RobotoMedium !important;
    height: 30px !important;
    vertical-align: middle !important;
}

html[dir=ltr] .amx-inputText .field-value {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: gray;
    border-width: thin;
    border-style: solid;
}

html[dir=ltr] .amx-inputText.amx-readOnly .field-value {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: gray;
    border-width: thin;
    border-style: solid;
}

a, .amx-goLink, .amx-commandLink {
    font-size: 20px !important;
}

.springboard-cell-border {
    border-bottom-color: #86bc25;
    border-bottom-style: solid !important;
    border-bottom-width: thin;
}

.cell-border {
    background-color: White;
    border-top-color: #808080;
    border-top-style: solid !important;
    border-top: #808080;
    border-bottom: #808080;
    border-bottom-style: solid !important;
    border-right: #808080;
    border-right-style: solid !important;
    border-left: #808080;
    border-left-style: solid !important;
    border-width: thin;
    margin-right: 10px;
}
/*added by venkat on 14-oct*/
.amx-inputText .field-value .wrap {
    border-bottom: none !important;
    margin-bottom: 0px !important;
}

.amx-inputText-content {
    border: none !important;
    outline: 0 !important;
    font-family: RobotoRegular;
    height: 30px;
}